<h2 id="appearance">Form field appearance variants</h2>
<p>
  File input appearance is fully compatible with <a
    href="https://material.angular.io/components/form-field/overview#form-field-appearance-variants"
    target="_blank">Angular Material form field appearance</a>.
</p>
<p class="warning">
  If you want to show some text, you'll need to add the
  "mat-label" element.
</p>

<form [formGroup]="formDoc" novalidate>

  <h3>Fill</h3>

  <app-code-sample [code]="fill"></app-code-sample>

  <mat-form-field appearance="fill">
    <mat-label>Basic fill input</mat-label>
    <ngx-mat-file-input formControlName="fill" placeholder="Basic fill placeholder"></ngx-mat-file-input>
    <mat-icon matSuffix>folder</mat-icon>
  </mat-form-field>

  <h3>Outline</h3>

  <app-code-sample [code]="outline"></app-code-sample>

  <mat-form-field appearance="outline">
    <mat-label>Basic outline input</mat-label>
    <ngx-mat-file-input formControlName="outline" placeholder="Basic outline placeholder"></ngx-mat-file-input>
    <mat-icon matSuffix>folder</mat-icon>
  </mat-form-field>

</form>
